.content {
    margin-left: 270px;
    margin-top: 70px; /* Adjust to ensure content doesn't overlap with Navbar */
    padding: 20px;
    flex-grow: 1;
    background-color: #ecf0f1;
}

.content h2 {
    color: #2c3e50;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.card h3 {
    margin-top: 0;
}
